/* UNIVERSAL */
* {
    margin: 0;
    padding: 0;
}

/* FONT STYLES */
.sekuya-regular {
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
}


.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* BODY */
body {
    background-color: #26205d;
    font-family: "Sekuya", system-ui;
}

#ul {
    display: flex;
    background-color: wheat;
    height: 30px;
    width: 400px;
    margin-left: 530px;
}






/* IMPORTANT */

header {
    display: flex;
    background-color: red;
    height: 140px;
    justify-content: space-between;
    align-items: center;
    
}
/* LOGO */
#logo {
    line-height: 100%;
    font-size: 400%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f7b801;
    color: black;
    height: 130px;
    font-family: "Sekuya", system-ui;
    margin-left: 10px;
    margin-top: 3px;
}

/* NAVIGATION OPTIONS */
ul {
    display: inline-flex;
    background-color: wheat;
    height: 30px;
    width: 400px;
    margin-left: 530px;
}


a {
    color: white;
}


li {
    /*To Remove Bullet Points from unordered list*/
    list-style: none;
    margin: 0 25px;
    margin-top: 120px;
    font-family: "Inter", sans-serif;
}

#li-box {
    display: inline-flex;
    height: 10px;
    width: 930px;
    margin-top: 50px;
}


/* SECTION SPACING */
#section1 {
    color: #CCFF00;
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
}

#Hello {
    color: black;
    background-color: #f7b801;
    text-transform: capitalize;
    width: 100px;
    height: 70px;
    font-size: 50px;
    margin-left: 10px;
    font-family: "Sekuya", system-ui;
    border-radius: 15px;
    line-height: 80px;

}

#mynameis {
    color: #26205d;
    background-color: #f7b801;
    text-transform: none;
    height: 70px;
    font-size: 50px;
    margin-left: 100px;
    font-family: "Sekuya", system-ui;
    border-radius: 15px;
    line-height: 80px;
}

#umeshpal {
    color: black;
    background-color: #f7b801;
    text-transform: capitalize;
    height: 70px;
    font-size: 50px;
    margin-left: 270px;
    font-family: "Sekuya", system-ui;
    border-radius: 15px;
    line-height: 80px;
}

img {
    width: 750px;
    height: 600px;
}