/* UNIVERSAL */
* {
    margin: 0;
    padding: 0;
}

.sekuya-regular {
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
}


.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* BODY */
body {
    background-color: #26205d;
    font-family: "Sekuya", system-ui;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f7b801;
    color: black;
    height: 150px;
    font-family: "Sekuya", system-ui;
    border-color: black;
}

/* LOGO */
#logo {
    line-height: 100%;
    font-size: 300%;
}

/* NAVIGATION OPTIONS */
#options {
    font-size: 14px;
    text-align: left;
}

/* NAV-UNORDERED LIST SPACING */
nav ul {
    display: flex;
}

/* NAV-UNORDERED LIST-LIST ITEMS SPACING */
nav ul li {
    /*To Remove Bullet Points from unordered list*/
    list-style: none;
    margin: 0 25px;
    margin-top: 120px;
}

/* SECTION SPACING */
#section1 {
    color: #CCFF00;
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
}

#Hello {
    color: black;
    background-color: #f7b801;
    text-transform: capitalize;
    width: 100px;
    height: 70px;
    font-size: 50px;
    margin-left: 10px;
    font-family: "Sekuya", system-ui;
    border-radius: 15px;
    line-height: 80px;

}

#mynameis {
    color: #26205d;
    background-color: #f7b801;
    text-transform: none;
    height: 70px;
    font-size: 50px;
    margin-left: 100px;
    font-family: "Sekuya", system-ui;
    border-radius: 15px;
    line-height: 80px;
}

#umeshpal {
    color: black;
    background-color: #f7b801;
    text-transform: capitalize;
    height: 70px;
    font-size: 50px;
    margin-left: 270px;
    font-family: "Sekuya", system-ui;
    border-radius: 15px;
    line-height: 80px;
}

img {
    width: 750px;
    height: 600px;
}